<h1><%= @merchant.name %>'s Coupons:</h1>

<h2><%= link_to "Create New Coupon", "/merchants/#{@merchant.id}/coupons/new" %>

<section id="active-coupons">

=================================================================================

<h3>Active Coupons</h3>

<% @merchant_coupons.select(&:active).sort_by(&:times_used).reverse.each do |coupon| %>
  <h4>
    <p>Name: <%= link_to "#{coupon.name}", "/merchants/#{@merchant.id}/coupons/#{coupon.id}" %></p>
      <ul>
        <li>Code: <%= coupon.code %></li>
        <li>% Off: <%= coupon.percent_off %></li>
        <li>$ Off: <%= coupon.dollar_off %></li>
        <li>Active? <%= coupon.active %></li>
        <li>Times Used: <%= coupon.times_used %></li>
      </ul>
    <% end %>
  </h4>
</section>

<section id="inactive-coupons">

=================================================================================

<h3>Inactive Coupons</h3>

<% @merchant_coupons.reject(&:active).sort_by(&:times_used).reverse.each do |coupon| %> 
  <h4>
    <p>Name: <%= link_to "#{coupon.name}", "/merchants/#{@merchant.id}/coupons/#{coupon.id}" %></p>
      <ul>
        <li>Code: <%= coupon.code %></li>
        <li>% Off: <%= coupon.percent_off %></li>
        <li>$ Off: <%= coupon.dollar_off %></li>
        <li>Active? <%= coupon.active %></li>
        <li>Times Used: <%= coupon.times_used %></li>
      </ul>
    <% end %>
  </h4>
</section>


