<h1>New Coupon for <%= @merchant.name %>:</h1>

<%= form_with model: [@merchant, Coupon.new], method: :post, local: true do |form| %>
    <%= form.label :name, "Coupon Name:" %>
    <%= form.text_field :name, id: "coupon_name" %>
  
    <%= form.label :code, "Coupon Code:" %>
    <%= form.text_field :code, id: "coupon_code" %>

    <%= form.label :amount, "Coupon Amount:" %>
    <%= form.number_field :amount, id: "amount" %>

    <%= form.label :discount_type, "Discount Type:" %><!--updated form with drop menu to make sure one of the coupon types is always 0-->
    <%= form.select :discount_type, ['Percent Off', 'Dollar Off'], {}, { id: "discount_type" } %>

    <%= form.submit "Create Coupon", id: "create_coupon" %>
<% end %>