<h1>New Coupon for <%= @merchant.name %>:</h1>

<%= form_with model: [@merchant, Coupon.new], method: :post, local: true do |form| %>
    <%= form.label :name, "Coupon Name:" %>
    <%= form.text_field :name, id: "coupon_name" %>
  
    <%= form.label :code, "Coupon Code:" %>
    <%= form.text_field :code, id: "coupon_code" %>

    <%= form.label :percent_off, "Percent Off:" %>
    <%= form.number_field :percent_off, id: "coupon_percent_off", class: 'coupon-amount-field' %>

    <%= form.label :dollar_off, "Dollar Off:" %>
    <%= form.number_field :dollar_off, id: "coupon_dollar_off", class: 'coupon-amount-field' %>

  <%= form.submit "Create Coupon", id: "create_coupon" %>
<% end %>
