<h1>Invoice: <%=@invoice.id%></h1>
<p>Status: <%=@invoice.status%></p>
<p>Created: <%=@invoice.created_at.strftime("%A, %B %d, %Y")%></p>
<p>Customer: <%=@invoice.customer.first_name%> <%=@invoice.customer.last_name  %></p>


<section class = "status-update">
  <p>Current Status: <%=@invoice.status %></p>
  <%= form_with url: admin_invoice_path(@invoice) , method: :patch , local: true do |f| %>
    <%=f.label :status%>
    <%=f.select :status, ["in progress", "completed", "cancelled"]%>
    <%=f.submit "Update"%>
  <% end %>
</section>

<h1>Invoice Items:</h1>
================================================================
<% @invoice.items.each do |item| %>
  <section id="item-details-<%= item.id %>">
    <p>Item Name: <%= item.name %></p>
    <p>Quantity: <%= item.quantity_ordered(item.id, @invoice.id) %></p>
    <p>Price: <%= item.unit_price %></p>
    <p>Status: <%= item.invoice_status(item.id, @invoice.id) %></p>
    ----------------------------------------------------------------
  </section>
<% end %>

<h1>Invoice Revenue Expected Before And After Coupons</h1>
<h3><%= "Total Invoice Revenue: #{number_to_currency(@invoice.total_revenue.to_f / 100)} (Before Coupons)"%></h3>
<h3><%= "Total Invoice Revenue: #{number_to_currency(@invoice.invoice_revenue_after_coupons.to_f / 100)} (After Coupons)"%></h3>

<h2><% if @invoice.coupon.present? %>
  <ul>
    <li><%= @invoice.coupon.name %></li>
    <li><%= @invoice.coupon.code %></li>
  </ul>
<% end %></h2>
